{% extends "base.html" %}

{% block title %}Skill Share{% endblock title %}

{% block body %}

{% if green %}
<h1>Welcome!</h1>
<p>I see you haven't set up your account yet. You've come to the right place.</p>
{% endif %}
<div class="container">
<div class="row">
<div class="span3">
<h4>Skills I can teach</h4>
{% if skillsTeach %}
<ul>
{% for service in skillsTeach %}
<li> {{ service.name }} </li>
{% endfor %}
</ul>
{% else %}
<p>No skills currently assigned!</p>
{% endif %}
</div>

<div class="span3">
<h4>Skills I want to learn</h4>
{% if skillsLearn %}
<ul>
{% for service in skillsLearn %}
<li> {{ service.name }} </li>
{% endfor %}
</ul>
{% else %}
<p>No skills currently assigned!</p>
{% endif %}
</div>

<div class="span3">
<h4>Services I can offer</h4>
{% if servicesOffered %}
<ul>
{% for service in servicesOffered %}
<li> {{ service.name }} </li>
{% endfor %}
</ul>
{% else %}
<p>No skills currently assigned!</p>
{% endif %}
</div>

<div class="span3">
<h4>Services I want</h4>
{% if servicesWanted %}
<ul>
{% for service in servicesWanted %}
<li> {{ service.name }} </li>
{% endfor %}
</ul>
{% else %}
<p>No skills currently assigned!</p>
{% endif %}
</div>
</div>
</div>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Add services</a></li>
        
        <li><a href="#tab2" data-toggle="tab">Remove services</a></li>
        <li><a href="#tab3" data-toggle="tab">Edit personal information</a></li>
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <h3>Add services</h3>

            <form method="POST" action="/edit">
                <div class="row">
                    <div class="span3"><p>Skill Name</p></div>
                    <div class="span8"><input type="text" name="name"></div>
                </div>

                <div class="row">
                    <div class="span3"><p>Skill Description</p></div>
                    <div class="span8"><textarea name="description" cols="30" rows="5"></textarea></div>
                </div>

                <div class="row">
                    <div class="span3"><p>Category</p></div>
                    <div class="span8">
                    <select name="category"><br>
                        <option value="skillsTeach">Skills I want to teach</option>
                        <option value="skillsLearn">Skills I want to learn</option>
                        <option value="servicesOffered">Services I offer</option>
                        <option value="servicesWanted">Services I want</option>
                    </select>
                    </div>
                </div>
                <input type="submit">
            </form>
        </div>

        
        <div class="tab-pane" id="tab2">
            <h3>Remove services</h3>


            <form method="POST" action="/edit">
                <input type='hidden' name='csrfmiddlewaretoken' value='{{CSRF_TOKEN}}' />
                <select name="skillsTeachRemove">
                    {% for service in skillsTeach %}
                    <option value="{{ service.pk }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <button type="submit" class="btn">Remove</button>
            </form>


            <form method="POST" action="/edit">
                <input type='hidden' name='csrfmiddlewaretoken' value='{{CSRF_TOKEN}}' />
                <select name="skillsLearn">
                    {% for service in skillsLearn %}
                    <option value="{{ service.pk }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <button type="submit" class="btn">Remove</button>
            </form>


            <form method="POST" action="/edit">
                <input type='hidden' name='csrfmiddlewaretoken' value='{{CSRF_TOKEN}}' />
                <select name="servicesOffered">
                    {% for service in servicesOffered %}
                    <option value="{{ service.pk }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <button type="submit" class="btn">Remove</button>
            </form>


            <form method="POST" action="/edit">
                <input type='hidden' name='csrfmiddlewaretoken' value='{{CSRF_TOKEN}}' />
                <select name="servicesWanted">
                    {% for service in servicesWanted %}
                    <option value="{{ service.pk }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <button type="submit" class="btn">Remove</button>
            </form>
        </div>

         <div class="tab-pane" id="tab3">
            <p>asdfadf</p>
         </div>
</div>


         
        </div>



{{data}}
{% endblock body %}
