{% extends "base.html" %}

{% block title %}Skill Share{% endblock title %}

{% block body %}
      <div class="row-fluid">
        <div class="span12 pagination-centered"><img src="http://i.imgur.com/5AQ2LYe.jpg", alt="cat gifs pending...", width="900"/></div>
      </div>

      <div class="row">
        <div class="span4 pagination-centered">
          <h3>Learn.</h3>
        </div>   

        <div class="span4 pagination-centered">
          <h3>Teach.</h3>
        </div>

        <div class="span3 pagination-centered">
          <h3>Get stuff done.</h3>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8 pagination-centered">
          <p>Everyone knows things. This is a given. But wouldn't it be great if that knowledge was shareable, instead of hoarded? SkillShare is a venue for crowdsourcing both your education and projects. It helps you find people who know things that you don't. You can reach out to them to learn a new skill yourself, or commission them for a project. The relationship works both ways; you go to others for what they know, and they will come to you for the skills you are willing to share.</p>
        </div>
      </div>

{% endblock body %}
