{% extends "base.html" %}

{% block title %}Skill Share{% endblock title %}

{% block body %}
<h5>Found {{ n }} results in {{ latency }} seconds</h5>

<table class="table table-bordered">
    <thead>
        <tr class="successs">
            <th>Name</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in results %}
        <tr>
            <td><a href="/profile/{{ entry.owner.user.pk }}">{{ entry.owner.user.get_full_name }}</a></td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}

