<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	  <title>SkillShare</title>
	  <meta name="description" content="community page">
	  <meta name="author" content="luisandnaomi" >

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

	    <link rel="shortcut icon" href="bootstrap/favicon.ico" type="image/x-icon">
	    <link rel="icon" href="bootstrap/favicon.ico" type="image/x-icon">

	  <style> body { padding-top: 60px; padding-bottom: 40px; } </style>
	  <style> footer { padding-top: 10px; padding-left: 40px; } </style>
	  <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
	  <link rel="stylesheet" href="css/basic.css">
	</head>

	<body>
	    <div class="navbar navbar-fixed-top"> <!--//navbar code -->
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="brand" href="base.html">SkillShare</a>
	 
	          <form class="navbar-search pull-left">  
	            <input type="text" class="search-query" placeholder="Search">  
	          </form>  

	            <!--THIS BUTTON NEEDS TO BE FIXED -->
           <div class="btn-group pull-right">
            <!--THIS BUTTON NEEDS TO BE FIXED -->
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="/login/">
                <i class="icon-user"></i>
                Sign in
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="profileSAMPLE.html"></a>Sign in</a></li>
            </ul>
          </div>
	            <!--
<div class="container">
<div class="row">
<div
</div>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
 </div>
</div>
-->

	        </div>
	      </div>
	    </div> <!--//navbar code -->
		
		<div class="container">
			<div class="row">
				<div class="span6" align="right"><p>New Account</p></div>
				<div class="span6" align="lift"><p>Sign In</p></div>
			</div>
			<div class="row">
				<div class="span6" align="right">
					<form>
					  New Username: <input type="text" name="newusername"><br>
					  Password: <input type="text" name="newpassword"><br>
					  Confirm password: <input type="text" name="passcheck"><br>
					  <input type="submit" value="Generate">
					</form>					
				</div>
				<div class="span6">
					<form>
					  Username: <input type="text" name="username"><br>
					  Password: <input type="text" name="password"><br>
					  <input type="submit" value="Login">
					</form>					
				</div>
			</div>
		</div>

	</body>

</html>